@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-100:#26A69A;
    --primary-200:#408d86;
    --primary-300:#cdfaf6;
    --accent-100:#80CBC4;
    --accent-200:#43A49B;
    --text-100:#263339;
    --text-200:#728f9e;
    --bg-100:#E0F2F1;
    --bg-200:#D0EBEA;
    --bg-300:#FFFFFF;
    --rounded-lg: 0.5rem;
}

[data-theme='dark'] {
    --primary-100:#00ADB5;
    --primary-200:#AAE3E2;
    --primary-300:#fdf6fd;
    --accent-100:#AC7DD2;
    --accent-200:#fff4ff;
    --text-100:#EEEEEE;
    --text-200:#C5C5C5;
    --bg-100:#222831;
    --bg-200:#393E46;
    --bg-300:#454e59;
    --rounded-lg: 0.5rem;
}

aside {
    color: var(--text-200);
    top: 0;
    padding: 1rem;
}

@media screen and (max-width:767px) {
    aside {
        background-color: var(--bg-300);
    }
}

.inactiveLink {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    align-items: center;
    color: var(--text-200);
}

.activeLink {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    align-items: center;
    color: var(--text-100)
}

.inactiveIcon {
    height: 2rem; width: 2rem;
    padding: 0.25rem;
    background-color: var(--bg-200);
    border-radius: var(--rounded-lg);
    color: var(--text-200);
}

.activeIcon {
    height: 2rem; width: 2rem;
    padding: 0.25rem;
    background-color: var(--primary-200);
    border-radius: var(--rounded-lg);
    background-color: var(--primary-100);
    color: var(--primary-300);
}

img {
    max-height: 100%;
}

input, textarea, select {
    width: 100%;
    padding: 0.75rem 0.5rem;
    border-width: 2px;
    border-radius: var(--rounded-lg);
    margin-bottom: 0.5rem;
    border: 2px solid var(--text-200);
    outline: none;
}

input:focus, textarea:focus, select:focus {
    border: 2px solid var(--primary-100);
}

h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    color: var(--text-100);
}

label {
    color: var(--text-100);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

table.basic {
    width: 100%;
    background-color: var(--bg-100);
    border-radius: var(--rounded-lg);
}

table.basic thead tr td {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: var(--bg-200);
}

table.basic tr td {
    padding: 0.25rem 1rem;
}

table.basic a {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem;
    display: inline-flex;
    border-radius: var(--rounded-lg);
    gap: 0.25rem;
    margin-right: 0.25rem; 
}

.upload {
    color: var(--text-100);
    border-radius: var(--rounded-lg);
    background-color: var(--bg-200);
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    gap: 0.5rem;
    background-color: var(--primary-100);
    color: var(--primary-300);
    padding: 0.25rem 1rem;
    border-radius: var(--rounded-lg);
}

.btn-primary svg {
    border: 2px dashed var(--primary-300);
    border-radius: var(--rounded-lg);
    color: var(--primary-300);
}

.btn-red, .btn-default {
    padding: 0.25rem 1rem;
    border-radius: var(--rounded-lg);
}

.btn-red {
    color: var(--primary-300);
    background-color: red;
}

.dark .btn-red {
    color: var(--bg-100);
    background-color: red;
}

.btn-default {
    color: var(--bg-100);
    background-color: var(--text-100);
}

.dark .btn-default {
    color: var(--bg-100);
    background-color: var(--text-100);
}